// Community CSS

.community {

  .three-fourths {

    .sponsorship-tile-container {
      display: block;
      width:100%;
      margin-top: 50px;

      .sponsor-tile {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-bottom: 24px;
        margin-right: 2%;

        @include min-width(500px) {
            width: 49%;
            float: left;
        }

        @include min-width(960px) {
            width: 32%;
        }

        img {
          display: block;
          width: 100%;
          height: auto;
          position: relative;
          z-index: 0;
        }

        .color-block {
          background: rgba($secondary,.07);
          display: block;
          width: 100%;
          height: 1000px;
          position: relative;
          z-index: 5;
          position: absolute;
        }

        @include min-width(500px) {
          &:nth-child(2n) {
            margin: 0px 0px 24px 0px;
          }

          &:nth-child(3n) {
            margin: 0px 2% 24px 0px;
          }
        }

        @include min-width(960px) {
          &:nth-child(3n) {
            margin: 0px 0px 24px 0px;
          }
        }
      }
    }
  }
}
