// In the News CSS
.news {
}

.news-landing {

  .intro-container {
    border-bottom: 1px solid rgba($dark, .2);
    padding-bottom: 30px;
    margin-bottom: 40px;
  }

  .article-container {
    padding-top: 25px;
  }

  .news-feature-img {
    padding-left: 0px;

    @include min-width(770px) {
      padding-right: 25px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .news-content-container {
    padding: 30px;
    background: rgba($secondary,.1);

    @include min-width(770px) {
      padding: 0px 25px 0px 0px;
      background: none;
    }

    @include min-width(960px) {
      padding: 0px 25px 0px 0px;
    }

    h3 {
      font-size: 1.25em;
    }

    h5{
      color: $secondary;
      font-weight: 700;
    }

    p {
      color: rgba($dark,.8);
    }
  }
}
