// Practice Single CSS

.practice-header {
  background: rgba($secondary,.2);
  border-top: 10px solid #700e1d;

  @include min-width(1100px) {
    border-top: none;
  }

  .practice-hero-content {
    padding: 35px 30px 0px 30px;
    float: none;
    width: 100%;

    @include min-width(1100px) {
      float: right;
      width: 33%;
    }

    @include min-width(1224px) {
      padding: 35px 50px 0px 0px;
    }

    h1 {
      font-size: 2.25em;
      line-height: 1em;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 1.06em;
      line-height: 1.5em;
      text-transform: uppercase;
      color: rgba($dark,.8);
      margin-bottom: 5px;
    }

    .attorney-cotent-container {
      @include clearfix;

      a.attorney-link {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        float: none;
        @include transition;
        @include clearfix;

        @include min-width(550px) {
          width: 32%;
          height: auto;
          float: left;
          margin: 0 2% 15px 0;
        }

        @include min-width(1100px) {
          width: 100%;
          float: none;
          height: auto;
        }

        &:hover {
          background: rgba($secondary,.15);
        }

        &:nth-child(3n) {
          margin: 0 0% 24px 0;
        }

        .attorney-container {
          width: 100%;
          height: auto;
          display: block;
          background: rgba($secondary,.15);
          margin: 0 0% 15px 0;

          @include min-width(1100px) {
            width: 100%;
            height: 85px;
          }

          .name-container {
            display: inline-block;
            padding: 16px 20px;

            h4 {
              display: block;
              line-height: 1.25em;
            }
          }

          .image-container {
            width: 100%;
            height: auto;
            overflow: visible;

            @include min-width(1100px) {
              width: 40%;
              height: 100%;
              width: 30%;
              overflow: hidden;
            }

            @include min-width(1224px) {
              width: 30%;
              overflow: hidden;
            }

            img {
              display: block;
              width: 100%;
              height: auto;
              margin-left: 0;

              @include min-width(1100px) {
                width: auto;
                height: 125%;
                margin-left: -40%;
              }

              @include min-width(1224px) {
                width: auto;
                height: 125%;
                margin-left: -30%;
              }
            }
          }
        }
      }
    }
  }

  .practice-hero {
    display: block;
    float: none;
    width: 100%;

    @include min-width(1100px) {
      float: right;
      width: 67%;
    }

    .embed-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 0px;
      height: 0;
    }

    .embed-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.practice-area-content {
  padding: 0px 0px 0px 0px;

  .practice-content-lists {
    display: block;
    border-right: 1px solid rgba($dark,.2);
    padding: 50px 0px 0px 30px;

    @include min-width(770px) {
      padding: 50px 0px 75px 30px;
    }

    @include min-width(1224px) {
      padding: 50px 0px 75px 0px;
    }

    .single-list {
      padding: 0px 80px 25px 0px;
      position: relative;

      a.see-more {
        font-size: 1em;
        line-height: 1.5em;
      }

      h4{
        display: block;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 15px;

        i {
          display: inline-block;
          margin-right: 10px;
        }

        i.fa-newspaper {
          padding-top: 50px;
        }
      }

      h5 {
        color: $secondary;
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
        font-size: .875em;
        line-height: 1.25em;
        margin-bottom: 5px;
      }

      a {
        display: block;
        font-size: .75em;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 15px;

        i {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }

  .rights-container {
    padding: 40px 0px 0px 0px;

    h5 {
      font-size: 1.1em;
      color: $secondary;
      font-weight: 700;
    }
  }

  .practice-main-content {
    padding: 50px 30px 75px 30px;
    border-top: 1px solid rgba($dark,.2);

    @include min-width(770px) {
      border-top: none;
    }

    @include min-width(1224px) {
      padding: 50px 0px 75px 85px;
    }

    h4.main-heading {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}
