// Practice & Resource Landing Page
#page-practice-landing .practice-container {
    background: $main;

    a {
      background: $secondary;
    }
}

#page-resources .practice-container {
    background: $secondary;

  a {
      background: $main;
    }
}

.landing {
  width: 100%;
  height: 350px;
  display: block;
  background: rgba($secondary, 1);
  padding: 70px 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;

  @include min-width(1024px) {

  }

  @include min-width(1224px) {
      padding: 70px 0px;
  }

  h1.entry-title {
    display: none!important;

    @include min-width(1024px) {
      display: block!important;
    }
  }

  h2.page-headline {
  }

  h1.entry-title, h2.page-headline, p {
    color: $white;
    display: block;
    width: auto;
    padding: 0px 0px;
  }

  p {
    margin-top: 10px;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.5em;

    a {
      display: block;
      margin-top: 10px;
      font-weight: 800;
      font-size: .75em;
      background: $white;
      padding: 5px 10px;
      text-align: center;
      width: 20%;
      min-width: 150px;
      margin-top: 15px;
    }
  }
}

.practice-grid {
  padding: 80px 30px 80px 30px;

  @include min-width(1224px) {
    padding: 80px 0px 80px 0px;
  }

  .landing-intro {
    background: rgba($secondary,.25);
    padding: 40px;
    border-bottom: 18px solid rgba($secondary,.1);
    margin-bottom: 24px;
    @include clearfix;

    .intro-heading, p.intro-copy {
      display: inline-block;
      vertical-align: top;
    }

    p.intro-copy {
      width: 66%;
      font-size: 1.1em;
    }
  }

  .practice-container {
    height: 410px;
    margin-bottom: 24px;
    text-align: center;
    @include clearfix;

    @include min-width(768px) {
      width: 49%;
    }

    @include min-width(1224px) {
      width: 32%;
    }

    .practice-img-container {
      display: block;
      width: 100%;
      height: 315px;
      max-height: 315px;
      position: relative;
      padding: 0px 0px 0px 0px;
      margin-bottom: 30px;
      overflow: hidden;

      img{
        width: auto;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        @include min-width(470px) {
          width: 100%;
          height: auto;
        }

        @include min-width(768px) {
          width: auto;
          height: 100%;
        }

        @include min-width(896px) {
          width: 100%;
          height: auto;
        }

        @include min-width(1224px) {
          width: 100%;
          height: auto;
        }
      }

      span {
        display: block;
        width: 100%;
        height: 150px;
        position: absolute;
        top: 50px;

        img {
          display: inline-block;
          width: auto;
          height: 100%;
          position: relative;
        }
      }

      h3, p {
        font-weight: 700;
        color:$white;
        text-align: center;
        text-transform: uppercase;
        padding: 0px;
        display: block;
        width: 100%;
        position: absolute;
      }

      h3 {
        top: 220px;
      }

      p {
        top: 255px;
      }
    }

    a {
      margin: 0 auto;
      color: $white;
      padding: 10px 40px;
      line-height: 1em;
      text-transform: uppercase;
      font-weight: 700;
      @include transition;

      &:hover {
        opacity: .9;
      }

    }
  }

  @include min-width(768px) {
    .one-third-grid:nth-child(2n) {
      margin: 0px 0% 24px 0px;
    }
  }

  @include min-width(1224px) {
    .one-third-grid:nth-child(2n) {
      margin: 0px 2% 24px 0px;
    }

    .one-third-grid:nth-child(3n) {
      margin: 0px 0% 24px 0px;
    }
  }
}
