// Resource CSS

.resource-nav {
  height: auto;

  .nav-container {
    min-height: 190px;
  }

  h1 {
    color: $white;
    font-size: 3em;
    line-height: 1.1em;
    padding: 0px 0px 40px 0px;
  }

  h4 {
    font-size: 1em;
    color: $white;
    text-transform: uppercase;
    padding: 60px 0px 0px 0px;
    font-weight: 400;
  }
}

.additional-resource-header {
  display: block;
  width: 100%;
  height: auto;
  background: $main;
  margin-bottom: 90px;
  background-size: cover;

  .additional-resource-header-content {
    padding: 75px 0px 75px 0px;

    h1.entry-title {
      color: $white;
      font-size: 3.43em;
      line-height: 1em;
    }

    h4 {
      font-size: 1em;
      color: $white;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

.lkm-slab.tabs {
  background: darken($main, 5%);
  padding: 15px 0px 0px 0px;

  a.lkm-tab {
    display: inline-block;
    vertical-align: bottom;
    padding: 15px;
    text-align: center;
    color: rgba($white, .2);
    font-size: 1.25em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  a.lkm-tab.lkm-active-tab {
    background: $white;
    color: $secondary;
  }
}

.resource-content-container {
  padding: 85px 0px;

  .lkm-column.one-fourth {
    padding: 0px 50px 0px 0px;

    ul.lkm-side-menu {
      margin-bottom: 10px;

      li {
        font-size: 1.1em;
        display: block;
        width: 100%;

        a.lkm-side-menu-heading {
          font-weight: 700;
          display: block;
          width: 95%;

          &::after {
            font-family: 'Font Awesome 5 Pro';
            font-weight: 400;
            color: $main;
            float: right;
            width: 1em;
            text-align: center;
          }
        }

        a.lkm-side-menu-heading::after {
          content: "\f105";
        }

        a.lkm-side-menu-heading.open-menu::after {
          content: "\f107";
        }

        ul {

          li {
            font-size: .85em;
            margin: 10px 0px 10px 0px;
            text-transform: capitalize;

            a {
              color: rgba($dark,.7);
              font-weight: 400;
            }

            a.lkm-side-menu-current {
              color: rgba($dark,.8);
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .lkm-column.three-fourths.resource-post {
    padding: 0px 0px 0px 85px;

    h2 {
      text-transform: capitalize;
      font-size: 2em;
      margin-bottom: 20px;
    }
  }
}

.disclaimer {
  display: block;
  margin-top: 40px;

  h6 {
    font-size: .8em;
    color: $main;
    font-weight: 800;
    text-transform: uppercase;
  }

  p {
    font-size: .8em;
    font-style: italic;
    font-weight: 700;
  }
}
