// Global Lustick class

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 22px;
  color: rgba($dark, .8);
}

#wrapper{
  display: block;
  width: 100%;
}

#container {
  display: block;
  width: 100%;
}

// ========= Global Type Settings =========== //

a {
  text-decoration: none;
  color: $main;
  @include transition;

  &:hover {
    opacity: .8;
  }

  &:visited {
    color: $main;
  }
}

h1, h2, h3, h4, h4 {
  color: $main;
  font-weight: 800;
  line-height: 1.25em;
}

h1, h2, h3,h4,h5 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

p {
  margin-bottom: 1em
}

strong {
  font-weight: 800;
}

// ============== Text Field Settings ===========//

input[type='text'], textarea, input[type='button'], input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}
