// Header CSS

header {
  display: block;
  width: 100%;
  height: auto;
  min-height: 115px;
  background: $white;

  .header-wrapper {
    width: 100%;
    display: block;
    padding: 15px 0px 0px 0px;
    max-width: 1224px;
    margin: 0 auto;

    #branding {
      float: left;
      display: block;
      width: 20%;
      @include clearfix;

      #site-description {
        display: none;
      }

      a {
        display: block;

        img {
          display: block;
          height: 100%;
          max-height: 80px;
          width: auto;
        }
      }
    }

    .nav-wrapper {
      float: left;
      width: 80%;
      @include clearfix;

      .social-number-container {
        width: 100%;
        text-align: right;

        span, phone {
          font-weight: 800;
          color: $main;
        }

        span {
          margin-left: 20px;
          display: block;
        }

        .social, span, phone {
          display: inline-block;
        }

        .social {
          color: $secondary;
        }
      }

      #menu {
        text-align: right;
        padding-top: 30px;

        #search {
          display: inline-block;
          float: right;
          padding-left: 20px;
          @include clearfix;

          .search-wrapper {
            display: none;
          }

          i {
            font-size: 1.2em;
            line-height: 1.5;
            color: $main;
          }
          label.screen-reader-text {
            display: none;
          }
        }

        ul {
          display: inline-block;
          text-align: right;
          padding: 0px 0px;
          float: right;
          @include clearfix;

          li.current-menu-item a {
            color: $main;
          }

          li#menu-item-17 a {
            visibility: hidden;
          }

          li#menu-item-17 a:after {
            visibility: visible;
            font-family: FontAwesome;
            font-size: 1.25em;
            line-height: 1.1;
            content: '\f015';
          }

          li {
            float: left;
            @include clearfix;
            padding: 0px 20px 0px 20px;
            position: relative;

            a {
              font-weight: 700;
              font-size: 1.25em;
              line-height: 1.5;
              color: rgba($dark, .6);
              @include transition;

              &:hover {
                color: $secondary;
              }
            }

            ul {
              position: absolute;
              display: none;
              z-index: 999;
              padding-top: 17px;
              min-width: 200px;
              width: auto;
              overflow:hidden;

              li {
                text-align: left;
                font-size: .8em;
                width: 200px;
                background: rgba($white,.9);
                border-right: 1px solid rgba($secondary,.8);
                border-left: 1px solid rgba($secondary,.8);

                &:last-child {
                  border-bottom: 1px solid rgba($secondary,.8);
                }

                a {
                  display: block;
                  width: 200px;
                  padding: 10px 0px 10px 20px;
                  margin-left: -20px;

                  &:hover {
                    background: rgba($secondary,.2);
                    color: rgba($dark,.9);
                  }
                }
              }
            }

            &:hover {

              ul {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
